@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center mb-5">
    <h2 class="display-4">Welcome to Search Tool for</h2>
    <h1 class="display-4 text-warning font-weight-bold">CHUCK NORRIS JOKES</h1>
</div>



<form method="get">
    <div class="input-group mb-3 d-flex justify-content-center">
        <input type="text" class="form-control" placeholder="Keyword search..." asp-for="SearchValue" />
        <div class="input-group-append">
            <button class="btn btn-warning" type="submit" id="button_search">Search</button>
        </div>
    </div>
</form>


<div class="card border-warning">
    <div class="card-header">
        <h3>Results: @Model.Jokes.Count()</h3>
    </div>
    <ul class="list-group list-group-flush">
        @foreach (var item in Model.Jokes)
        {
            <li class="list-group-item">@item.Value</li>
        }
    </ul>
</div>
